//カラー
$white: #fff;
$color_01: #ac0032;
$color_02: #e7e3d2;
$color_03: #e9e6d8;
$color_04: #b19474;
$color_05: #374c66;
$color_06: #b40032;
$color_07: #231815;
$color_08: #b39674;
$color_09: #ae0032;
$color_10: #eae6d5;
$color_11: #f1eddc;
$color_12: #e9e5d4;

$text_01: #000;
$text_02: #fff;
$text_03: #888888;

//フォント
// $fz_0: ;

// $fw_0: ;

// l$h_0: ;

// $ls_0: ;

$font01: "Kaisei Opti", serif;
$font02: "Aoboshi One", serif;
$font03: "Zen Kaku Gothic Antique", sans-serif;
$font04: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
$font05: "New Tegomin", serif;
//サイズ
$pc-max-size: 1620px;
$pc-min-size: 1200px;
$max_01: 980px;
$max_02: 900px;
$ss_01: calc(100% - 40px);
$ss_02: calc(100% - 70px);
$ss_03: calc(100% - 30px);

$transition: 0.3s;
